.container h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.introduce {
  padding: 1rem;
  background-color: var(--secondary-color);
  color: white;
}

:global(body.dark-mode) .introduce {
  background-color: var(--dark-secondary-color);
}

.import-article {
  padding: 1rem;
  background-color: var(--background-color);
}

:global(body.dark-mode) .import-article {
  background-color: var(--dark-background-color);
}

.import-article-button {
  width: 8rem !important;
}

.practice {
  border-top: 1px solid #ccc;
  padding: 1rem;
}

.practice-card-container {
  border: 1px solid #ccc;
  padding: 1rem;
}

:global(body.dark-mode) .import-article-select {
  background-color: var(--dark-secondary-color);
  color: var(--dark-text-color);
  border: none;
}

.import-article-textarea {
  resize: none;
}

:global(body.dark-mode) .import-article-textarea {
  background-color: var(--dark-secondary-color);
  color: var(--dark-text-color);
  border: none;
} 

:global(body.dark-mode) .import-article-textarea::placeholder {
  color: var(--dark-text-color);
}